/* 
.dashboard {
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* match page */

.match-page {
  margin: auto;
  width: 28%;
  /* border: 3px solid rgb(18, 36, 18);
  padding: 10px; */
}

.swipe {
    position: absolute;
  }
  
.dashboard .card-container {
    width: 400px;
    height: 650px;
  }
  
  .card {
    width: 400px;
    height: 650px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  
  .card h3 {
    margin-top: 0;
  }

  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}


/* navbar */
nav {
    margin-bottom: 50px;
    background-color: rgb(153, 87, 177);
    height: 7%;
  }
  
  ul {
    display: flex;
    background-color: rgb(181, 58, 194);
    width: 100%;
    justify-content: space-evenly;
    padding: 0;
    border: 0;
  }


  /* All pictures */
  img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
  }

.chat-box {
  margin: auto;
  width: 28%;
}